# Team 6 Project 1 : Analysis of Regionwise Sales Data for Video Games 

Team: Mark Levine, Richa Singh, John Yun, Miguel Gomez

Data source 
"Kaggle.com" https://www.kaggle.com/gregorut/videogamesales

Notebook Contents
1. Data pull
2. Data Cleaning 
3. Data Exploration /Initial Analysis

In [11]:
# Import Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib.pyplot as plt
style.use('ggplot')

In [12]:
# Read CSV File 
# Cite Data Source""
file = "/Users/richasingh/Desktop/vgsales.csv"
df = pd.read_csv(file, encoding="ISO-8859-1")

In [4]:
#read the data frame
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [13]:
# Data Overview for any cleanup requirements
df.count()

Rank            16598
Name            16598
Platform        16598
Year            16327
Genre           16598
Publisher       16540
NA_Sales        16598
EU_Sales        16598
JP_Sales        16598
Other_Sales     16598
Global_Sales    16598
dtype: int64

# Data Cleaning Findings
1. The counts foe Year and Publisher column does not match up. Need for clean up. 
1. Year column has 271 entries with N/A
2. Publisher column has 58 entries with N/A

In [14]:
# Cleaned data set by dropping N/A 
df = df.dropna(how='any')
df.count()

Rank            16291
Name            16291
Platform        16291
Year            16291
Genre           16291
Publisher       16291
NA_Sales        16291
EU_Sales        16291
JP_Sales        16291
Other_Sales     16291
Global_Sales    16291
dtype: int64

In [15]:
# Data types 
df.dtypes

Rank              int64
Name             object
Platform         object
Year            float64
Genre            object
Publisher        object
NA_Sales        float64
EU_Sales        float64
JP_Sales        float64
Other_Sales     float64
Global_Sales    float64
dtype: object

In [16]:
# statistical overview
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000,16291.000000
mean,8290.190228,2006.405561,0.265647,0.147731,0.078833,0.048426,0.540910
std,4792.654450,5.832412,0.822432,0.509303,0.311879,0.190083,1.567345
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4132.500000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8292.000000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12439.500000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.480000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [17]:
# General Obervations
# sales for the regions 

average_sales_NA = df["NA_Sales"].mean()
average_sales_EU = df["EU_Sales"].mean()
average_sales_JP = df["JP_Sales"].mean()
average_sales_Oth = df["Other_Sales"].mean()
average_sales_Global = df["Global_Sales"].mean()

 
total_sales_NA = df["NA_Sales"].sum()
total_sales_EU = df["EU_Sales"].sum()
total_sales_JP = df["JP_Sales"].sum()
total_sales_Oth = df["Other_Sales"].sum()
total_sales_Global = df["Global_Sales"].sum()


number_sales=df["Global_Sales"].count()
item_count = len(df["Name"].unique())

# DataFrame to hold results
summary_table = pd.DataFrame({"Number of Unique Items": [item_count],
                              "Total Sales NA": [total_sales_NA],
                              "Total Sales EU": [total_sales_EU],
                              "Total Sales JP": [total_sales_JP],
                              "Total Sales Oth": [total_sales_Oth],
                              "Total Sales Global": [total_sales_Global],
                              "Average Sales NA": [average_sales_NA],
                              "Average Sales EU": [average_sales_EU],
                              "Average Sales JP": [average_sales_JP],
                              "Average Sales Oth": [average_sales_Oth],
                              "Average Sales Global": [average_sales_Global],
                              "Total Sales Number": [number_sales]})

 
summary_table = summary_table.round(2)

# Display the summary_table
summary_table

,Number of Unique Items,Total Sales NA,Total Sales EU,Total Sales JP,Total Sales Oth,Total Sales Global,Average Sales NA,Average Sales EU,Average Sales JP,Average Sales Oth,Average Sales Global,Total Sales Number
0,11325,4327.65,2406.69,1284.27,788.91,8811.97,0.27,0.15,0.08,0.05,0.54,16291

In [18]:
#sales share by region 
NA_per = total_sales_NA/total_sales_Global*100
EU_per = total_sales_EU/total_sales_Global*100  
JP_per = total_sales_JP/total_sales_Global*100  
oth_per = total_sales_Oth /total_sales_Global*100

Sales_dist_table = pd.DataFrame({"Percentage Sales NA": [NA_per],
                                 "Percentage Sales EU": [EU_per],
                                 "Percentage Sales JP": [JP_per],
                                 "Percentage Sales Oth": [oth_per]
                              })

 
Sales_dist_table = Sales_dist_table.round(2)

# Display the summary_table
Sales_dist_table

,Percentage Sales NA,Percentage Sales EU,Percentage Sales JP,Percentage Sales Oth
0,49.11,27.31,14.57,8.95

# Observations 
North America has the highest regional share of the total video games sales, followed by European Union , Japan and then rest of the world

In [9]:
#count by genres
count_genres = df["Genre"].value_counts()
count_genres

Action          3251
Sports          2304
Misc            1686
Role-Playing    1470
Shooter         1282
Adventure       1274
Racing          1225
Platform         875
Simulation       848
Fighting         836
Strategy         670
Puzzle           570
Name: Genre, dtype: int64

# Observation
1. Action tops the sales by genre, followed by Sports, Misc and role playing. 
2. Puzzle and strategy are at the lower sales levels

In [10]:
#count of uniques publishers
count_publisher = df["Publisher"].value_counts()
count_publisher

Electronic Arts                           1339
Activision                                 966
Namco Bandai Games                         928
Ubisoft                                    918
Konami Digital Entertainment               823
THQ                                        712
Nintendo                                   696
Sony Computer Entertainment                682
Sega                                       632
Take-Two Interactive                       412
Capcom                                     376
Atari                                      347
Tecmo Koei                                 338
Square Enix                                231
Warner Bros. Interactive Entertainment     217
Disney Interactive Studios                 214
Midway Games                               196
Eidos Interactive                          196
505 Games                                  192
Microsoft Game Studios                     189
Acclaim Entertainment                      184
D3Publisher                                183
Vivendi Games                              161
Codemasters                                150
Idea Factory                               128
Deep Silver                                121
Nippon Ichi Software                       104
Zoo Digital Publishing                     104
Unknown                                    100
Majesco Entertainment                       90
                                          ...
TalonSoft                                    1
Havas Interactive                            1
Monte Christo Multimedia                     1
Sold Out                                     1
Sunflowers                                   1
Introversion Software                        1
Epic Games                                   1
Ecole                                        1
Mitsui                                       1
On Demand                                    1
Interchannel-Holon                           1
Mirai Shounen                                1
DreamWorks Interactive                       1
Pow                                          1
CPG Products                                 1
Game Arts                                    1
Rain Games                                   1
Visco                                        1
Gameloft                                     1
PM Studios                                   1
Aques                                        1
Westwood Studios                             1
Bohemia Interactive                          1
Glams                                        1
Navarre Corp                                 1
Tryfirst                                     1
Mystique                                     1
Genterprise                                  1
Magical Company                              1
Fuji                                         1
Name: Publisher, Length: 576, dtype: int64

# Observations
There are 576 publishers. 
The top 5 are 
1. Electronic Arts                           
2. Activision                                 
3. Namco Bandai Games                         
4. Ubisoft                                    
5. Konami Digital Entertainment

In [8]:
#count of uniques platforms
count_platforms = df["Platform"].value_counts()
count_platforms

DS      2131
PS2     2127
PS3     1304
Wii     1290
X360    1234
PSP     1197
PS      1189
PC       938
XB       803
GBA      786
GC       542
3DS      499
PSV      410
PS4      336
N64      316
SNES     239
XOne     213
SAT      173
WiiU     143
2600     116
NES       98
GB        97
DC        52
GEN       27
NG        12
SCD        6
WS         6
3DO        3
TG16       2
GG         1
PCFX       1
Name: Platform, dtype: int64

# Obervations
There are 31 publishers 
Top 7 publishers 
1. DS      
2. PS2     
3. PS3     
4. Wii    
5. X360   
6. PSP    
7. PS

In [13]:
# Sales Trends by regions
by_year = df.groupby("Year")

sales_by_year = by_year["Global_Sales", "NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales"].sum()
sales_by_year = pd.DataFrame(sales_by_year)
sales_by_year = sales_by_year.sort_values('Global_Sales',ascending = False) 
 

sales_by_year

        Global_Sales  NA_Sales  EU_Sales  JP_Sales  Other_Sales
Year
2008.0        678.90    351.44    184.40     60.26        82.39
2009.0        667.30    338.85    191.59     61.89        74.77
2007.0        609.92    311.18    160.18     60.29        77.58
2010.0        600.29    304.24    176.57     59.49        59.90
2006.0        521.04    263.12    129.24     73.73        54.43
2011.0        515.80    241.00    167.31     53.04        54.39
2005.0        458.51    241.58    121.56     54.28        40.55
2004.0        414.01    218.80    105.92     41.65        47.24
2002.0        395.52    216.19    109.74     41.76        27.28
2013.0        368.11    154.77    125.80     47.59        39.82
2012.0        363.49    154.93    118.76     51.74        37.82
2003.0        357.85    193.59    103.81     34.20        26.01
2014.0        337.03    131.97    125.63     39.46        40.02
2001.0        331.47    173.98     94.89     39.86        22.76
2015.0        264.44    102.82     97.71     33.72        30.01
1998.0        256.47    128.36     66.90     50.04        11.03
1999.0        251.27    126.06     62.67     52.34        10.05
2000.0        201.56     94.49     52.75     42.77        11.62
1997.0        200.98     94.75     48.32     48.87         9.13
1996.0        199.15     86.76     47.26     57.44         7.69
1995.0         88.11     24.82     14.90     45.75         2.64
1994.0         79.17     28.15     14.88     33.99         2.20
1992.0         76.16     33.87     11.71     28.91         1.65
1989.0         73.45     45.15      8.44     18.36         1.50
2016.0         70.90     22.66     26.76     13.67         7.75
1985.0         53.94     33.73      4.74     14.56         0.92
1984.0         50.36     33.28      2.10     14.27         0.70
1990.0         49.39     25.46      7.63     14.88         1.40
1988.0         47.22     23.87      6.59     15.76         0.99
1993.0         45.98     15.12      4.65     25.33         0.89
1986.0         37.07     12.50      2.84     19.81         1.93
1981.0         35.77     33.40      1.96      0.00         0.32
1991.0         32.23     12.76      3.95     14.78         0.74
1982.0         28.86     26.92      1.65      0.00         0.31
1987.0         21.74      8.46      1.41     11.63         0.20
1983.0         16.79      7.76      0.80      8.10         0.14
1980.0         11.38     10.59      0.67      0.00         0.12
2020.0          0.29      0.27      0.00      0.00         0.02
2017.0          0.05      0.00      0.00      0.05         0.00

In [14]:
# Sales by publisher for regions
by_pub = df.groupby("Publisher")

sales_by_pub = by_pub["Global_Sales", "NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales"].sum()

sales_by_pub = pd.DataFrame(sales_by_pub)
sales_by_pub = sales_by_pub.sort_values('Global_Sales',ascending = False)

sales_by_pub

,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
Publisher,,,,,
Nintendo,1784.43,815.75,418.30,454.99,95.19
Electronic Arts,1093.39,584.22,367.38,13.98,127.63
Activision,721.41,426.01,213.72,6.54,74.79
Sony Computer Entertainment,607.28,265.22,187.55,74.10,80.40
Ubisoft,473.54,252.81,163.03,7.33,50.16
Take-Two Interactive,399.30,220.47,117.95,5.83,55.20
THQ,340.44,208.60,94.60,5.01,32.11
Konami Digital Entertainment,278.56,88.91,68.62,90.93,29.91
Sega,270.70,108.78,81.41,56.19,24.30
Namco Bandai Games,253.65,69.38,42.61,126.84,14.64
Microsoft Game Studios,245.79,155.35,68.61,3.26,18.56
Capcom,199.95,78.45,39.16,67.38,14.82
Atari,146.77,101.23,25.80,10.70,8.73
Square Enix,144.73,48.59,32.57,49.79,13.84
Warner Bros. Interactive Entertainment,142.34,75.34,48.83,1.03,17.14
Disney Interactive Studios,118.76,70.44,34.36,0.56,13.15
Eidos Interactive,96.75,47.85,34.85,6.11,7.90
LucasArts,84.95,48.43,26.00,0.20,10.28
Bethesda Softworks,81.53,39.43,30.48,1.44,10.10
Midway Games,69.29,45.10,18.22,0.12,5.69
Acclaim Entertainment,64.14,42.75,16.75,1.14,3.37
SquareSoft,57.65,11.06,4.95,40.13,1.54
Vivendi Games,56.93,36.24,15.65,0.23,4.76
505 Games,55.91,31.83,16.43,2.05,5.44
Tecmo Koei,53.55,14.08,7.08,29.21,3.18
Codemasters,47.77,11.88,28.65,0.83,6.29
Virgin Interactive,43.87,18.99,12.94,8.94,3.03
Enix Corporation,33.74,0.76,0.31,32.40,0.27
Deep Silver,25.59,12.73,8.89,1.09,2.87
GT Interactive,25.23,15.57,8.49,0.02,1.14
...,...,...,...,...,...
Giga,0.02,0.00,0.00,0.02,0.00
Revolution (Japan),0.02,0.00,0.00,0.02,0.00
Plenty,0.02,0.00,0.00,0.02,0.00
GOA,0.02,0.00,0.02,0.00,0.00
Marvelous Games,0.02,0.00,0.00,0.02,0.00
Technos Japan Corporation,0.02,0.00,0.00,0.02,0.00
RED Entertainment,0.02,0.00,0.00,0.02,0.00
Quintet,0.02,0.00,0.00,0.02,0.00
Masque Publishing,0.02,0.01,0.00,0.00,0.00
Media Entertainment,0.01,0.00,0.00,0.01,0.00
"Interworks Unlimited, Inc.",0.01,0.01,0.00,0.00,0.00
Ongakukan,0.01,0.00,0.00,0.01,0.00
Interchannel-Holon,0.01,0.00,0.00,0.01,0.00
Inti Creates,0.01,0.00,0.00,0.01,0.00
Otomate,0.01,0.00,0.00,0.01,0.00
Michaelsoft,0.01,0.00,0.00,0.01,0.00
UIG Entertainment,0.01,0.00,0.01,0.00,0.00
Stainless Games,0.01,0.01,0.01,0.00,0.00
EON Digital Entertainment,0.01,0.01,0.00,0.00,0.00
Boost On,0.01,0.00,0.00,0.01,0.00
New World Computing,0.01,0.01,0.00,0.00,0.00
Takuyo,0.01,0.00,0.00,0.01,0.00
Naxat Soft,0.01,0.00,0.00,0.01,0.00
Piacci,0.01,0.00,0.00,0.01,0.00
Genterprise,0.01,0.00,0.00,0.01,0.00
Epic Games,0.01,0.01,0.00,0.00,0.00
Paradox Development,0.01,0.00,0.01,0.00,0.00
Rain Games,0.01,0.00,0.01,0.00,0.00
Ascaron Entertainment,0.01,0.00,0.01,0.00,0.00
Commseed,0.01,0.00,0.00,0.01,0.00

In [20]:
# Sales by Genre for regions
by_genre = df.groupby("Genre")

sales_by_genre = by_genre["Global_Sales", "NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales" ].sum()

sales_by_genre = pd.DataFrame(sales_by_genre)

sales_by_genre = sales_by_genre.sort_values('Global_Sales',ascending = False)

sales_by_genre

              Global_Sales  NA_Sales  EU_Sales  JP_Sales  Other_Sales
Genre
Action             1722.84    861.77    516.48    158.65       184.92
Adventure           234.59    101.93     63.74     51.99        16.70
Fighting            444.05    220.74    100.00     87.15        36.19
Misc                789.87    396.92    211.77    106.67        73.92
Platform            829.13    445.99    200.65    130.65        51.51
Puzzle              242.21    122.01     50.52     56.68        12.47
Racing              726.76    356.93    236.31     56.61        76.68
Role-Playing        923.83    326.50    187.57    350.29        59.38
Shooter            1026.20    575.16    310.45     38.18       101.90
Simulation          389.98    181.78    113.02     63.54        31.36
Sports             1309.24    670.09    371.34    134.76       132.65
Strategy            173.27     67.83     44.84     49.10        11.23

In [17]:
# Sales by Platform for regions
by_platform = df.groupby("Platform")

sales_by_platform = by_platform["Global_Sales", "NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales" ].sum()

sales_by_platform = pd.DataFrame(sales_by_platform)

sales_by_platform = sales_by_platform.sort_values('Global_Sales',ascending = False)

sales_by_platform

          Global_Sales  NA_Sales  EU_Sales  JP_Sales  Other_Sales
Platform
PS2            1233.46    572.92    332.63    137.54       190.47
X360            969.60    594.33    278.00     12.30        84.67
PS3             949.35    388.90    340.47     79.21       140.81
Wii             909.81    497.37    264.35     68.28        79.20
DS              818.91    388.53    194.05    175.02        60.29
PS              727.39    334.71    212.38    139.78        40.69
GBA             305.62    178.43     72.49     46.56         7.51
PSP             291.71    107.09     67.16     75.89        41.52
PS4             278.10     96.80    123.70     14.30        43.36
PC              254.70     92.04    137.35      0.17        24.33
GB              254.42    113.64     47.51     85.12         8.16
XB              252.09    182.06     59.65      1.38         8.48
NES             251.07    125.94     21.15     98.65         5.31
3DS             246.27     78.03     58.29     97.30        12.55
N64             218.21    138.91     41.03     33.76         4.31
SNES            200.05     61.23     19.04    116.55         3.22
GC              197.14    131.94     38.32     21.34         5.13
XOne            141.06     83.19     45.65      0.34        11.92
2600             86.57     80.78      4.86      0.00         0.84
WiiU             81.86     38.32     24.23     12.79         6.45
PSV              61.60     16.07     16.27     20.86         8.41
SAT              33.59      0.72      0.54     32.26         0.07
GEN              28.36     19.27      5.52      2.67         0.89
DC               15.97      5.43      1.69      8.56         0.27
SCD               1.87      1.00      0.36      0.45         0.05
NG                1.44      0.00      0.00      1.44         0.00
WS                1.42      0.00      0.00      1.42         0.00
TG16              0.16      0.00      0.00      0.16         0.00
3DO               0.10      0.00      0.00      0.10         0.00
GG                0.04      0.00      0.00      0.04         0.00
PCFX              0.03      0.00      0.00      0.03         0.00

In [18]:
# Sales by Name for regions
by_name = df.groupby("Name")

sales_by_name = by_name["Global_Sales", "NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales" ].sum()

sales_by_name = pd.DataFrame(sales_by_name)

sales_by_name= sales_by_name.sort_values('Global_Sales',ascending = False)

sales_by_name

,Global_Sales,NA_Sales,EU_Sales,JP_Sales,Other_Sales
Name,,,,,
Wii Sports,82.74,41.49,29.02,3.77,8.46
Grand Theft Auto V,55.92,23.46,23.04,1.39,8.03
Super Mario Bros.,45.31,32.48,4.88,6.96,0.99
Tetris,35.84,26.17,2.95,6.03,0.69
Mario Kart Wii,35.82,15.85,12.88,3.79,3.31
Wii Sports Resort,33.00,15.75,11.01,3.28,2.96
Pokemon Red/Pokemon Blue,31.37,11.27,8.89,10.22,1.00
Call of Duty: Modern Warfare 3,30.83,15.58,11.29,0.62,3.35
New Super Mario Bros.,30.01,11.38,9.23,6.50,2.90
Call of Duty: Black Ops II,29.72,14.08,11.05,0.72,3.88
Call of Duty: Black Ops,29.40,17.01,8.69,0.59,3.12
Wii Play,29.02,14.03,9.20,2.93,2.85
New Super Mario Bros. Wii,28.62,14.59,7.06,4.70,2.26
Duck Hunt,28.31,26.93,0.63,0.28,0.47
Call of Duty: Ghosts,27.38,14.92,9.05,0.48,2.92
Super Mario World,26.07,15.99,4.86,4.49,0.75
Call of Duty: Black Ops 3,25.32,11.89,9.56,0.43,3.42
Call of Duty: Modern Warfare 2,25.09,13.52,8.11,0.46,3.01
Nintendogs,24.76,9.07,11.00,1.93,2.75
Grand Theft Auto: San Andreas,23.86,10.77,1.96,0.41,10.72
Minecraft,23.73,10.82,8.85,1.15,2.93
Mario Kart DS,23.42,9.81,7.57,4.13,1.92
Pokemon Gold/Pokemon Silver,23.10,9.00,6.18,7.20,0.71
Wii Fit,22.72,8.94,8.03,3.60,2.15
Super Mario Bros. 3,22.48,12.47,4.69,4.67,0.66
Grand Theft Auto IV,22.47,11.53,7.65,0.58,2.73
Super Mario 64,22.31,11.99,5.96,3.16,1.21
Wii Fit Plus,22.00,9.09,8.59,2.53,1.79
Call of Duty: Advanced Warfare,21.90,10.44,8.18,0.34,2.93
Kinect Adventures!,21.82,14.97,4.94,0.24,1.67
...,...,...,...,...,...
Rock N' Roll Racing,0.01,0.00,0.00,0.01,0.00
"Element Girl: Love, Fashion and Friends",0.01,0.00,0.01,0.00,0.00
Outdoors Unleashed: Alaska 3D,0.01,0.01,0.00,0.00,0.00
Kurogane Kaikitan,0.01,0.00,0.00,0.01,0.00
Farming Simulator 15 Expansion Pack,0.01,0.00,0.01,0.00,0.00
Cross Edge Dash,0.01,0.00,0.00,0.01,0.00
Ouka Sengoku Portable,0.01,0.00,0.00,0.01,0.00
Element Hunter,0.01,0.00,0.00,0.01,0.00
Tsuyo Kiss 3 Portable,0.01,0.00,0.00,0.01,0.00
Gakuen Hetalia,0.01,0.00,0.00,0.01,0.00
Kanokon: Esuii,0.01,0.00,0.00,0.01,0.00
Farming 2017 - The Simulation,0.01,0.00,0.01,0.00,0.00
Hirameki Action: Chibikko Wagyan no Daiki na Bouken,0.01,0.00,0.00,0.01,0.00
Dramatical Murder Re:code,0.01,0.00,0.00,0.01,0.00
PC Engine Best Collention: Ginga Ojousama Densetsu Collection,0.01,0.00,0.00,0.01,0.00
PGA European Tour,0.01,0.01,0.00,0.00,0.00
Road Trip: Shifting Gears,0.01,0.01,0.00,0.00,0.00
Wedding Planner: Dream Weddings Guaranteed,0.01,0.00,0.01,0.00,0.00
Aladdin Magic Racer,0.01,0.01,0.00,0.00,0.00
Tears to Tiara: Kakan no Daichi Portable,0.01,0.00,0.00,0.01,0.00
Himawari: Pebble in the Sky Portable,0.01,0.00,0.00,0.01,0.00
Marginal #4: Idol of Supernova,0.01,0.00,0.00,0.01,0.00
Akatsuki no Amaneka to Aoi Kyojin,0.01,0.00,0.00,0.01,0.00
Tantei Jinguuji Saburo: Hai to Diamond,0.01,0.00,0.00,0.01,0.00
Tantei Jinguuji Saburo DS: Fuserareta Shinjitsu,0.01,0.00,0.00,0.01,0.00
Eiyuu Densetsu: Sora no Kiseki Material Collection Portable,0.01,0.00,0.00,0.01,0.00
Kao the Kangaroo,0.01,0.01,0.00,0.00,0.00
Fashionable Puppy: Oshare na Koinu DS,0.01,0.00,0.00,0.01,0.00
Mario & Luigi: Paper Jam & Mario Kart 7 Double Pack,0.01,0.00,0.00,0.01,0.00
Simple DS Series Vol. 14: The Jidousha Kyoushuujo DS,0.01,0.00,0.00,0.01,0.00